{% extends 'base.html' %}

{% load static %}
{% block title %}الصفحة غير متوفرة{% endblock %}
{% block content %}

<!-- container -->
  <div class="container">

    <!-- row-->
    <div class="row ">

        <!-- column -->
        <div class="col-lg">
            
        </div>
        <!-- end column -->

        <!-- column -->
        <div class="col-lg-6 ">
            <h1 class="h1 text-center" style="border-bottom: 1px #ccc solid; font-size: 15em; color: #32234b;">404</h1>
             <br/>
            <p class="h6 pr1 text-center" style="font-family: 'Cairo', sans-serif;">نحن نتأسف لكن الصفحة التي طلبتها غير متوفرة</p>
             <p class="h6 pr1 text-center" style="font-family: 'Cairo', sans-serif;">من فضلك أعد البحث من جديد أو اضغط على الزر في الآسفل لكي تتمكن من تصفح الموقع</p>
             <br/>
             <br/>
             <p class="h6 pr1 text-center">
             <a class="btn btn-dark btn-lg"  href="/"  style="background-color: #32234b; color: #fff;font-family: 'Cairo', sans-serif;">الصفحة الرئسية</a>
             </p>

            
        </div>
        <!-- end column -->

        <!-- column -->
        <div class="col-lg">
            
        </div>
        <!-- end column -->
        
    </div>
    <!-- end row -->
      
  </div>
  <!-- end container -->


{% endblock%}