{% extends 'base.html' %}
{% load static %}
{% block title %}من نحن{% endblock %}
{% block content %}




<!-- container -->
<div class="container">

    <!-- row -->
    <div class="row" style="margin-top: 10em;">
        <!-- column -->
        <div class="col-lg-12 col-md-12 text-center">
            <p class="h1 py-2 text-right" style="margin-right: 1.7em;">مرحبا بك في المدونات العربية حيث الكلمات أفضل</p>

            <figure class="figure" >
           <img  src="{% static 'images/about.png' %}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          
          </figure>

          <p class="h2 ">الأفكار ووجهات النظر التي لن تجدها في أي مكان آخر.</p>

          <p class="h6 pr1" style="margin-bottom: 3em;">مرحبا بك في موقع المدونات العربية حيث ينتقل بك إلى أبعد الحدود فيما يخص المقالات الأكثر استقطابا في عالم المعرفة</p>
            
            
        </div>
        <!-- end column -->
        
    </div>

    <!-- end row -->
    
</div>
<!-- end container -->




<!-- container -->
<div class="container">
    <!-- row -->
    <div class="row " style="margin-top: 3em;">
        <!-- column -->
        <div class="col-lg-6 col-md-6 border-left">
           <p class="h4 font-weight-bold">منصة بنيت من أجل ...</p>
           <p class="h6 pr3 text-success font-weight-bold text-left" style="margin-top: 5em;">الناس او الجمهور</p>
           <p class="h6 pr1 text-left">الجودة</p>
           <p class="h6 pr1 text-left">  افكار اصلية</p>
           <p class="h6 pr1 text-left">  تجربة قراءة نظيفة</p>
           <p class="h6 pr1 text-left"> المشاركة والعمق</p>
           <p class="h6 pr1 text-left">   وجهات النظر</p>

           <figure class="figure">
            <img src="{% static 'images/rt.png' %}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
 
           </figure>
            
        </div>
        <!-- end column -->

        <!-- column -->
        <div class="col-lg-6 col-md-6">
              <p class="h6 pr3  font-weight-bold " style="margin-top: 6.5em;"><del class="text-danger">المعلنين </del></p>
           <p class="h6 pr1 text-"><del > لا كمية</del></p>
           <p class="h6 pr1 text-"> <del>   لا يوجد محتوى ترعاه</del></p>
           <p class="h6 pr1 text-"><del>  لا بوبس وشكاوي</del></p> 
           <p class="h6 pr1 text-"><del> لا clickbait</del></p> 
           <p class="h6 pr1 text"> <del> لا مشاهدات الصفحة</del></p>  

           <figure class="figure">
            <img src="{% static 'images/rt1.png' %}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
 
           </figure>
            
        </div>
        <!-- end column -->
        
    </div>
    <!-- end row -->
    
</div>
<!-- end container -->


<!-- container -->
<div class="container">
    <!-- row -->
    <div class="row " style="margin-top: 10em !important;">
        <!--column -->
        <div class="col-lg-6">
            <p class="h4 font-weight-bold">تجربة قراءة قابلة للتخصيص ، مصنوعة خصيصًا لك.</p>
            <p class="h6 pr1">مع قوة الشبكة ، الطرق المختلفة للتفاعل مع القصص ، والقدرة على متابعة المواضيع المفضلة لديك ، والكتاب ، والمنشورات ، يمكنك التحكم في تجربة القراءة الخاصة بك. لذا فإن القصص التي تهمك أكثر هي دائما في متناول يديك.</p>
            
        </div>
        <!-- end column -->

         <!--column -->
        <div class="col-lg-6">
            <figure class="figure">
              <img src="{% static 'images/32.jpeg' %}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              
              </figure>
            
        </div>
        <!-- end column -->
        
    </div>
    <!-- end row -->
    
</div>
<!-- end container -->

<!-- container -->
<div class="container">
    <!-- row -->
    <p class="h1 text-center my-5" >كلام مستخدمي الموقع</p>
    <div class="row ">
        
        <!-- column -->
        
        <div class="col-lg-3 col-md-6">
            <figure class="figure">
               <img  src="{%static 'images/azert.jpeg' %}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            </figure>

            <p class="h6 pr1">الموقع جميل و رائع حيث أنه ثري بالمواضيع العصرية التي يتماشى معها المجتمع الحالي

</p>

    <p class="h6 pr" style="margin-top: 3em;">محمد ياسين</p>
            
        </div>
        <!-- end column -->
       
    
      
       
        
    </div>
    <!-- end row -->
    
</div>
<!-- end container -->

 {% endblock %}



  