{% extends 'base.html' %}
{% load static %}
{% block title %}الخصوصية{% endblock %}
{% block content %}


  <!-- container -->
  <div class="container">

    <!-- row-->
    <div class="row " >

        <!-- column -->
        <div class="col-lg">
            
        </div>
        <!-- end column -->

        <!-- column -->
        <div class="col-lg-12 ">
        <p class="h6 pr1 font-weight-bold" style="margin-top: 3em">بيان</p>
        <br/>
        <p class="h6 pr" style="line-height: 2em;">
          تنطبق سياسة الخصوصية هذه على كافة البيانات الشخصية، والتي تقوم بتقديمها لنا ("بيانات المستخدم") من خلال الموقع الإلكتروني على الشبكة ("الموقع"). تم وضع سياسة الخصوصية هذه من أجل تعزيز ثقتك حيال خصوصية وسلامة تفاصيل معلوماتك الشخصية.

"أنت\ صيغة المخاطب" نشير بها إليك، مستخدم الموقع. "نحن\ صيغة المتكلم" تعني  المدونات العربية  <br/>"المستخدمون" تشير إلى مستخدمي الموقع عموما و\أو فرادى حسبما يشير السياق. نقوم بالتعامل مع كافة البيانات الشخصية والمعلومات المتعلقة بالمستخدم بتوافق تام مع كافة تشريعات حماية الخصوصية ذات العلاقة.
          


          
        </p>
        <br/>
        <br/>

        <p class="h6 pr1 font-weight-bold" style="margin-top: 3em">ماذا نفعل بمعلومات المستخدم التي تقدمها إلينا</p>
        <p class="h6 pr" style="line-height: 2em;"> 
          لدى قيامك بإدخال معلومات المستخدم، فأنت توافق بأن نقوم نحن بالاحتفاظ بمعلومات المستخدم الخاصة بك وذلك عن طريقنا أو عن طريقنا
        </p>

        <p class="h6 pr1 font-weight-bold" style="margin-top: 3em">جمع البيانات</p>
        <br/>
        <p class="h6 pr" style="line-height: 2em;">
          عند استخدام الموقع قد تصادف مناطق مثل المنتديات أو خدمات الفيديو حيث يتم الطلب منك كمستخدم إدخال معلومات المستخدم الخاصة بك. يتم استخدام مثل معلومات المستخدم هذه فقط للهدف التي يتم جمعها من أجله، وأي أغراض أخرى يتم تحديدها في نقطة الجمع وذلك بالتوافق مع سياسة الخصوصية هذه. لن نقوم بالإفصاح عن أي من معلومات المستخدم التي توفرها لطرف ثالث دون إصدارك الموافقة على ذلك، باستثناء ضرورة توفير خدمات قمت بتحديد مسبقا كحسبات التواصل الاجتماعي و قناتك على اليوتوب
        </p>
<br/>
<br/>

       
            
        </div>
        <!-- end column -->

        <!-- column -->
        <div class="col-lg">
            
        </div>
        <!-- end column -->
        
    </div>
    <!-- end row -->
      
  </div>
  <!-- end container -->

{% endblock %}