{% extends 'base.html' %}
{% load static %}
{% block title %}فتح حساب{% endblock %}
{% block content %}


  


 <div class="container">
  <div class="row rows" style="margin-top: 3em;">

    
      {% if messages %}
      <div class="messages">
          {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
        <div class="col-lg col-md"></div>
       <!-- Newsletter Widget -->
            <div class="col-lg-6 col-md-8">
               <div class="sidebar-area">
                        <div class="single-widget-area newsletter-widget mb-10">
                            <h4>افتح حساب جديد أو سجل الدخول</h4>
                            <form role="form" class="form" action="/register/" method="POST"> {% csrf_token %}
                                <label for="inputUsernameEmail">اسم المستخدم</label>
                                <input type="text" name="username" id="nlemail" placeholder="######">
                                <label for="inputUsernameEmail">البريد الالكتروني</label>
                                <input type="email" class="form-control" id="inputUsernameEmail" name="email" placeholder="######">
                                 <label for="inputPassword">كلمة السر</label>
                                 <input type="password" class="form-control" id="inputPassword" name="password1" placeholder="######">
                                 <label for="inputPassword">تأكيد كلمة السر</label>
                                 <input type="password" class="form-control" id="inputPassword" name="password2" placeholder="######">
                                 <a class="pull-right" href="#">تسجيل الدخول</a>

                                 
                                <button type="submit" class="btn newsbox-btn w-100" style="margin-top: 1em;">التسجيل</button>
                            </form>
                           <p class="lead">
بالنقر على "تسجيل" ، فإنك توافق على الشروط وسياسة البيانات وسياسة ملفات كما يجيب عليك احترم قواعد التي يسير عليها الموقع, واحترام عناصر المجموعة </p>
                        </div>
              </div>
            </div>
            <!-- end column -->
            <div class="col-lg col-md"></div>
          
      

     
    
    
    
  </div>
  <!-- end row -->
</div>
<!-- end container -->

{% endblock %}